.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 40px 20px;

    width: 100%;
    height: 50px;
}

.brand-logo a {
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 70%;
    height: 50px;
}

.menu-container li a {
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.menu-container li a:hover {
    text-shadow: 0px 0px 20px #ff4800;
}

.account-container li a:hover {
    text-shadow: 0px 0px 20px #ff4800;
}

.account-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.account-container li a {
    font-size: 18px;
    font-weight: 600;
    color: white;
}


.account-container li:nth-child(1)::after {
    content: "";
    margin: 0px 5px;
    height: 100%;
    border-left: 2px solid white;
}