@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'SUIT-Regular';
    font-size: 14px;

}

input, select, textarea, table, th, td {
    border: 1px solid #dbdbdb;
    border-radius: 4px;
}

input, textarea {
    outline: none;
}

input, select, textarea {
    padding: 5px;
}