.main-container {
    display: flex;
    
    margin: 20px auto 0px;
    width: 1400px;
    height: 780px;

    background-color: white;
    box-shadow: 1px 1px 5px 1px black;
}

.content-container {
    width: 100%;
    height: 100%;
}

.content-title {
    padding: 70px 70px 20px;
    height: 120px;
    font-size: 20px;
}

.content-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 70px;
    width: 100%;
}

.content-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

.delete-button {
    border: 1px solid #ff4141;
    padding: 5px 10px;
}

.delete-button:hover {
    background-color: #ff4141;
    color: white;
}

.table-container {
    border: 1px solid #202020;
    width: 100%;
    height: 444px;
}


.content-table {
    border: 1px solid #202020;
    width: 100%;
}

.content-table th, .content-table td {
    height: 21px;
    text-align: center;
}

.content-table td .fa-solid {
    cursor: pointer;
}

.page-controller {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-numbers {
    display: flex;
}

.page-controller a {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0px 5px;
    border: 1px solid #202020;
    border-radius: 4px;
    width: 30px;
    height: 30px;

    font-weight: 600;
    font-size: 12px;
}

.page-controller a:hover {
    background-color: #202020;
    color: white;
}

.page-controller .disabled {
    background-color: #202020;
    color: white;
    cursor: default;
}
